streamlit
python-dotenv
langchain
langchain-core
langchain-community
langgraph
langchain_groq
groq
requests
pandas
numpy
protobuf
pyarrow
# Add any other libs you see imported in your files (see step 3)
